/* Alerts and messages */
.notifications {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 12px 24px;
    font-size: 0.9em;
}

.notifications-info {
    color: #31708f;
    background-color: #d9edf7;
    border-radius: 3px;
    padding: 12px 24px;
    font-size: 0.9em;
}

.notifications-danger {
    color: #a94442;
    background-color: #f2dede;
    border-radius: 3px;
    padding: 12px 24px;
    font-size: 0.9em;
}

.fallback-notice {
    margin-top: 15px;
    font-size: 0.9em;
}