<!DOCTYPE html>
<html>
<head>
    <title>NL2SQL MVP</title>
    <!-- Bokeh resources -->
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.3.min.css" rel="stylesheet">
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.4.3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/alerts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/sections.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/tabs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/third-party/bokeh.css') }}">
    <!-- Bokeh JS -->
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.4.3.min.js"></script>
</head>
<body>
    <h1>Natural Language to SQL Converter</h1>

    {% include 'components/section.html' %}

    <script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
</body>
</html>