/* Global styles */
body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.footnote {
    font-size: 0.9em;
}

.footnote-divider {
    border: none;
    border-top: 1px solid #e1e1e1;
    margin-top: 20px;
    margin-bottom: 20px;
}